<h1>Adăugare produs</h1>
      <form action="/adauga-produs" method="POST">
        <label for="nume">Nume:</label>
        <input type="text" id="nume" name="nume" required><br><br>
        
        <label for="descriere">Descriere:</label>
        <input type="text" id="descriere" name="descriere" required><br><br>
        
        <label for="pret">Preț:</label>
        <input type="number" id="pret" name="pret" required><br><br>
        
        <button type="submit">Adaugă produs</button>
      </form>