<style>
    body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  input[type="radio"] {
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  </style>
<h1>Autentificare</h1>
<% if (typeof mesajEroare !== 'undefined') { %>
    <p style="color: red;"><%= mesajEroare %></p>
  <% } %>
  
    <form method="post" action="/verificare-autentificare">
      <label for="utilizator">Utilizator:</label>
      <input type="text" id="utilizator" name="utilizator"><br>

      <label for="parola">Parolă:</label>
      <input type="password" id="parola" name="parola"><br>

      <input type="submit" value="Autentificare">
    </form>