<!DOCTYPE html>
<html>
  <head>
    <title>Proiect 2 PW</title>
  </head>
  <body>
    <header>
      <!-- Aici se poate pune un meniu de navigare, logo-ul site-ului, etc. -->
    </header>
    <main>
      <%- body %> <!-- Aici se va insera conținutul view-ului specificat ca argument -->
    </main>
    <footer>
      <p >&copy;2023. Dancău Rareș-Andrei</p>
    </footer>
  </body>
</html>

