<!DOCTYPE html>
<html>

<head>
  <title>Proiect 2 PW</title>
  <link rel="stylesheet" href="/stil.css">
</head>

<body>
  <header>
    <nav class="menu">
      <a href="/" class="menu-link">Acasă</a>
      <a href="/chestionar" class="menu-link">Chestionar</a>
      <% if (typeof utilizator !=='undefined' ) { %>
        <a href="/vizualizare-cos" class="menu-link">Coș</a>
        <% if (typeof tip !== 'undefined' && tip === 'ADMIN') { %>
          <a href="/admin" class="menu-link">Adăugare produs</a>
          <% } %>
    </nav>
    <div id="logout">
      <p>Autentificat ca <%= utilizator %>
      </p>
      <form method="post" action="/logout">
        <input type="submit" value="Deconectare">
      </form>
    </div>
    <% } else {%>
      </nav>
      <% } %>
  </header>
  <main>
    <%- body %> <!-- Aici se va insera conținutul view-ului specificat ca argument -->
  </main>
  <footer>
    <p>&copy;2023. Dancău Rareș-Andrei</p>
  </footer>
</body>

</html>
