<style>
  body {
  font-family: Arial, sans-serif;
}
#logoff{
  display: flex;
}
#logoff>p{
    margin:0.35rem;
}
#logoff input[type="submit"]{
  margin-top:0;
  margin-left: 2rem;
  border: none;
  padding: 4px;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

input[type="radio"] {
  margin-right: 0.5rem;
  vertical-align: middle;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}
footer p{
  text-align: left;
}
</style>
<h1>Rezultat chestionar</h1>
<p><%= rezultatC %></p>
